<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzyy.mapper.WxMapper">


    <insert id="saveVerifyTicket" parameterType="com.zzyy.entity.WxVerifyTicket">
      insert into t_wx_ticket(fappid,finfoType,fverifyTicket,fauthorizerappid,fauthorizationcode,
      fpreauthcode,faccesstoken,frefreshtoken,fcreatetime,fmodifytime)values (
      #{appId},#{infoType},#{ticket},#{authorizerAppid},#{authorizationCode},#{preAuthCode},
      #{accessToken},#{refreshToken},now(),now())
    </insert>

    <select id="findByKey" resultType="com.zzyy.entity.WxVerifyTicket">
        select fappid as "appId",finfotype as "infoType",fverifyticket as "ticket",
        faccesstoken as "accessToken",frefreshtoken as "refreshToken"
        from t_wx_ticket where fappid =#{appId} and finfotype = #{infoType}
    </select>

    <update id="updateVerifyTicket" parameterType="com.zzyy.entity.WxVerifyTicket">
        update t_wx_ticket set fmodifytime = now()
        <if test="ticket != null">
            ,fverifyticket = #{ticket}
        </if>
        <if test="authorizerAppid != null">
            ,fauthorizerappid = #{authorizerAppid}
        </if>
        <if test="authorizationCode != null">
            ,fauthorizationcode = #{authorizationCode}
        </if>
        <if test="preAuthCode != null">
            ,fpreauthcode = #{preAuthCode}
        </if>
        <if test="accessToken != null">
            ,faccesstoken = #{accessToken}
        </if>
        <if test="refreshToken != null">
            ,frefreshtoken = #{refreshToken}
        </if>
        where
        fappid= #{appId} and finfotype = #{infoType}
    </update>

    <select id="findByParams" resultType="com.zzyy.entity.WxVerifyTicket">
        select fappid as "appId",finfotype as "infoType",fverifyticket as "ticket",
        fauthorizerappid as "authorizerAppid",fauthorizationcode as "authorizationCode",fpreauthcode as "preAuthCode"
        from t_wx_ticket where fappid =#{appId} and finfotype = #{infoType} and fauthorizationcode = #{authCode}
    </select>

    <select id="findAccessToken" resultType="com.zzyy.entity.WxVerifyTicket">
        select fappid as "appId",finfotype as "infoType",fverifyticket as "ticket",
        faccesstoken as "accessToken",frefreshtoken as "refreshToken",fauthorizerappid as "authorizerAppid"
        from t_wx_ticket where fappid =#{appId} and finfotype = "authorization_info" and fauthorizerappid = #{authAppId}
    </select>

</mapper>